@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../fonts/OpenSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html{
    box-sizing: border-box;
}
*
*::after, *::before{
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    color: black;
}
img{
    text-align: center;
    max-width: 100%;
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    width: 1100px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
 
}
.container2{
    width: 832px;
    padding-left: 234px;
    padding-right: 234px;
    margin-left: auto;
    margin-right: auto;
}
section{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.main-header{
    background-color: #ffffff;
}
.main-nav{
padding: 8px 0;
margin: 0;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.site-logo{
    padding: 0;
    margin: auto 0;
}
.main-list{
margin-left: auto;
list-style-type: none;
display: flex;
align-items: center;
padding: 0;
margin-top: auto;
margin-bottom: auto;
margin-right:24px ;

}
.list-item{
margin: 0;
margin-right: 32px;

list-style-type: none;
}
.list-item:nth-child(6){
margin-right: 0;
}
.list-link{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 15px;
}
.btn{
    margin-right:0;
    padding: 8px 16px;
    background: #00BAFC;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: white;
    text-decoration: none;
    line-height: 24px;
}
.aside-padding{
    padding-top: 80px;
    padding-bottom: 80px;
    
}
.about{
    width: 465px;
}
.about-title{
font-weight: bold;
font-size: 30px;
line-height: 130%;
margin: 0;
margin-bottom: 16px;
padding: 0;
}
.about-text{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}
.about-img{
    margin-left: auto;
}

/* main-services */

.section-padding{
    padding-top:56px;
    padding-bottom: 56px;
}
.section-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    text-align: center;
}
.section-text{
    text-align: center;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    margin-top: 0;
}
.services-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
.card-item{
    width: 320px;
    padding: auto;
    margin-top: 8px;
    margin-bottom: 40px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 70px;
}
.card-item:nth-child(3){
    margin-right:0;
}
.card-item:nth-child(5){
    margin-right:0;
}
.card-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 24px;
}
.card-img-wrap{
    width: 160px;
    margin-bottom: 10px;
    
}
.card-img{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
   
}
.card-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    
}
.card-text{
    text-align: center;
    margin:0;

}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.order-link{
    margin-right: 16px;
}
.cervice-link{
    color: #00bafc;
}

/* main-how-we-work */

.how-we-work-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;

}
.frame{
    margin-bottom: 48px;
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
.row{
    flex-direction: row;
}
.frame:nth-child(5){
    margin-bottom: 0;
}
.step-name{
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}
.step-describe{
    margin: 0;
    padding: 0;

}
.how-we-work-footer{
    text-align: center;
}
.order-form{
    background-color: #00bafc;
    color: #ffffff;
}
form{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    padding: 24px;
    
}
input{
    padding: 16px;
    
    margin: 0;
    margin-bottom: 16px;
    background: #F3F3F3;
    border-radius: 5px;
}
select{
    padding: 16px;
    margin: 0;
    margin-bottom: 16px;
    background: #F3F3F3;
    border-radius: 5px;
}
.align-item{
    align-self: center;
}

/* footer */

.extra{
    background-color: #191919;
    color: white;
    align-items: flex-start;
}
.site-copy-box{
    width: 320px;
    margin-right: 100px;
}
.footer-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}
.copy-text{
    line-height: 150%;
}
.site-footer-nav{
    margin-right: 90px;
}
.footer-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-item{
    list-style-type: none;

}
.item-link{
    text-decoration: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    color: white;  
}
.bg::before{
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    margin-right: 8px;
}
.bg-tg::before{
    background-image: url(../img/Vector.svg);
}
.bg-fb::before{
    background-image: url(../img/Vector\ \(1\).svg);
}
.bg-ig::before{
    background-image: url(../img/Vector\ \(2\).svg);
}
